<div class="principal">

    <mat-card class="Inicio-card">
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-title>Proveedores</mat-card-title>
        <mat-card-content>
                <img class="Logo" src={{Imagen}} />
            <p>{{data.nombre}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="continuar()">Continuar</button>
        </mat-card-actions>
    <mat-card-footer>
        <p>{{data.version}}</p>
    </mat-card-footer>
  </mat-card>

  </div>